//- hepl-dw/vitfoud-client
//-
//- /src/pug/index.pug - Root document
//-
//- coded by leny@flatLand!
//- started at 22/04/2017
doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Vitfoud!
        link( rel="stylesheet", href="assets/css/main.css" )/

    body
        #app

        script( src="assets/js/libs.min.js" )
        script( src="assets/js/app.min.js" )
